.page {
    background-color: #f3f4f6;
}

.action-bar {
    background-color: #9333ea;
    color: white;
}

.score-board {
    margin: 16;
}

.player-label {
    font-size: 18;
    font-weight: bold;
    text-align: center;
    color: #1f2937;
    margin: 4;
}

.player-score {
    font-size: 24;
    font-weight: bold;
    text-align: center;
    color: #9333ea;
    margin: 4;
}

.shock-count {
    font-size: 14;
    color: #ef4444;
    text-align: center;
    margin: 4;
}

.message {
    font-size: 18;
    color: #7e22ce;
    text-align: center;
    margin: 16;
}

.chair-button-available {
    margin: 4;
    padding: 16;
    color: white;
    font-size: 16;
    font-weight: bold;
    border-radius: 8;
    background-color: #9333ea;
    width: 90%;
    height: 90%;
}

.chair-button-unavailable {
    margin: 4;
    padding: 16;
    color: white;
    font-size: 16;
    font-weight: bold;
    border-radius: 8;
    background-color: #d1d5db;
    width: 90%;
    height: 90%;
}

.reset-button {
    background-color: #ef4444;
    color: white;
    padding: 16;
    margin: 16;
    border-radius: 8;
    font-size: 16;
    font-weight: bold;
}